<div class="container page-list">
  <div class="row">
    <div class="col-md page-list--header">
      <h1 class="float-left" >{{ "TITLE_WIDGET_PAGE_LIST" | translate }}</h1>
      <button class="btn btn-primary float-right" [routerLink]="['/project', project.id, 'page', 'add']"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{ "WIDGET_PAGE_LIST_ADD_NEW_WIDGET_BUTTON" | translate }}</button>
    </div>
  </div>


  <div class="row">
    <div *ngIf="!widgetPages.length && !legacyWidgetPages.length">
      <p>{{ "WIDGET_PAGE_LIST_NO_PAGES_FOUND" | translate }}</p>
    </div>
    <div *ngIf="widgetPages.length" class="page-list">
      <div *ngFor="let widgetPage of widgetPages" class="card">
        <div class="card-header">
          <h3 class="float-left card-header--title" >{{ widgetPage.title }}</h3>
          <div class="float-right">
          <button [routerLink]="['/project', project.id, 'page', widgetPage.id, 'edit']" class="btn btn-secondary "><i class="fa fa-pencil" aria-hidden="true"></i> {{ "WIDGET_PAGE_LIST_EDIT_WIDGET_BUTTON" | translate }}</button>

          <button (click)="duplicateWidgetPage(widgetPage)" class="btn btn-link"><i class="fa fa-files-o" aria-hidden="true"></i> {{ "WIDGET_PAGE_LIST_DUPLICATE_WIDGET_BUTTON" | translate }}</button>

          <button (click)="deleteWidgetPage(widgetPage)" class="btn btn-link btn-link--remove"><i class="fa fa-trash-o" aria-hidden="true"></i> {{ "WIDGET_PAGE_LIST_DELETE_WIDGET_BUTTON" | translate }}</button>
          </div>

        </div>
        <div class="card-block">
          <div class="input-group clipboard-group">
            <span class="input-group-btn"><app-clipboard-button [content]="getWidgetPageUrl(widgetPage, true)"></app-clipboard-button></span>
            <input type="text" value="{{ getWidgetPageUrl(widgetPage, true) }}" class="form-control" >
          </div>


        </div>
      </div>
    </div>
    <div *ngIf="legacyWidgetPages.length">
      <div class="legacyWidgets">
      <h2>{{ "TITLE_WIDGET_PAGE_LEGACY_WIDGETS_LIST" | translate }}</h2>
      <p>{{ "WIDGET_PAGE_LIST_LEGACY_WIDGETS_INFO" | translate }}</p>
      <div class="page-list">
        <div *ngFor="let widgetPage of legacyWidgetPages" class="card">
          <div class="card-header">
            <h3 class="float-left card-header--title" >{{ widgetPage.title }}</h3>
            <button (click)="upgradeWidgetPage(widgetPage)" class="btn btn-secondary float-right">{{ "WIDGET_PAGE_LIST_WIDGET_REQUEST_UPGRADE_BUTTON" | translate }}</button>
          </div>
          <div class="card-block">
            <h4>{{ "TITLE_WIDGET_PAGE_LIST_LEGACY_VERSION" | translate }}</h4>
            <div class="input-group clipboard-group">
              <span class="input-group-btn"> <app-clipboard-button [content]="getWidgetPageUrl(widgetPage, true)"></app-clipboard-button></span>
              <input type="text" value="{{ getWidgetPageUrl(widgetPage, true) }}" class="form-control" >
            </div>
            <h4 class="title-new-version">{{ "TITLE_WIDGET_PAGE_LIST_NEW_VERSION" | translate }}</h4>
            <div class="input-group clipboard-group">
              <span class="input-group-btn"><app-clipboard-button [content]="getWidgetPageUrl(widgetPage, true, true)"></app-clipboard-button></span>
              <input type="text" value="{{ getWidgetPageUrl(widgetPage, true, true) }}" class="form-control" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
