<h1>Mijn widgets</h1>
<button class="btn btn-primary" routerLink="/project/1/page/add">Nieuwe widget maken</button>

<div class="container-fluid">
  <div class="page-list">
    <div class="card">
      <div class="card-header">
        <h3 class="float-left" style="margin:0; line-height:38px;">Mijn eerste widget</h3>
        <button class="btn btn-secondary float-left" style="margin-left: 20px;">Aanpassen</button>
        <button class="btn btn-link">Dupliceren</button>
        <button class="btn btn-link">Verwijderen</button>
      </div>
      <div class="card-block">
        <div class="highlight">
          <p><code>&lt;script type="text/javascript" src="http://tools.uitdatabank.be/widgets/layout/2909.js"&gt;&lt;/script&gt;</code></p>
          <button class="btn btn-secondary">Kopieer naar klembord</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="float-left" style="margin:0; line-height:38px;">Mijn eerste widget</h3>
        <button class="btn btn-secondary float-left" style="margin-left: 20px;">Aanpassen</button>
        <button class="btn btn-link">Dupliceren</button>
        <button class="btn btn-link">Verwijderen</button>
      </div>
      <div class="card-block">
        <div class="highlight">
          <p><code>&lt;script type="text/javascript" src="http://tools.uitdatabank.be/widgets/layout/2909.js"&gt;&lt;/script&gt;</code></p>
          <button class="btn btn-secondary">Kopieer naar klembord</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="float-left" style="margin:0; line-height:38px;">Mijn eerste widget</h3>
        <button class="btn btn-secondary float-left" style="margin-left: 20px;">Aanpassen</button>
        <button class="btn btn-link">Dupliceren</button>
        <button class="btn btn-link">Verwijderen</button>
      </div>
      <div class="card-block">
        <div class="highlight">
          <p><code>&lt;script type="text/javascript" src="http://tools.uitdatabank.be/widgets/layout/2909.js"&gt;&lt;/script&gt;</code></p>
          <button class="btn btn-secondary">Kopieer naar klembord</button>
        </div>
      </div>
    </div>
  </div>

  <h2>Legacy widgets</h2>
  <p>Legacy widgets draaien nog op versie 2 van het widgetsplatform. Deze widgets blijven werken, maar je kan ze niet meer aanpassen.<br/> Wil je toch een aanpassing maken, dan moet je eerst een upgrade naar de allerlaatste versie aanvragen.</p>

  <div class="page-list">
    <div class="card">
      <div class="card-header">
        <h3 class="float-left" style="margin:0; line-height:38px;">Mijn eerste widget</h3>
        <button class="btn btn-secondary float-left" style="margin-left: 20px;">Aanpassen</button>
        <button class="btn btn-link">Dupliceren</button>
        <button class="btn btn-link">Verwijderen</button>
      </div>
      <div class="card-block">
        <div class="highlight">
          <p><code>&lt;script type="text/javascript" src="http://tools.uitdatabank.be/widgets/layout/2909.js"&gt;&lt;/script&gt;</code></p>
          <button class="btn btn-secondary">Kopieer naar klembord</button>
        </div>
      </div>
    </div>
  </div>
</div>
