<button (click)="backToDashboard()" class="btn btn-secondary"><i class="fa fa-chevron-left"></i> {{ "BUTTON_BACK_TO_PROJECTAANVRAAG_DASHBOARD" | translate }}</button>
<h1>Mijn widgets</h1>
<button class="btn btn-primary" [routerLink]="['/project', project.id, 'page', 'add']">Nieuwe widget maken</button>
<div class="container-fluid">
  <div *ngIf="!widgetPages.length && !legacyWidgetPages.length">
    <p>{{ "WIDGET_PAGE_LIST_NO_PAGES_FOUND" | translate }}</p>
  </div>

  <div *ngIf="widgetPages.length" class="page-list">
    <div *ngFor="let widgetPage of widgetPages" class="card">
      <div class="card-header">
        <h3 class="float-left" style="margin:0; line-height:38px;">{{ widgetPage.title }}</h3>
        <button [routerLink]="['/project', project.id, 'page', widgetPage.id, 'edit']" class="btn btn-secondary float-left" style="margin-left: 20px;">Aanpassen</button>
        <button (click)="duplicateWidgetPage(widgetPage)" class="btn btn-link">Dupliceren</button>
        <button (click)="deleteWidgetPage(widgetPage)" class="btn btn-link">Verwijderen</button>
      </div>
      <div class="card-block">
        <p><code>{{ getWidgetPageUrl(widgetPage, true) }}</code></p>
        <app-clipboard-button [content]="getWidgetPageUrl(widgetPage, true)"></app-clipboard-button>
      </div>
    </div>
  </div>

  <div *ngIf="legacyWidgetPages.length">
    <h2>Legacy widgets</h2>
    <p>Legacy widgets draaien nog op versie 2 van het widgetsplatform. Deze widgets blijven werken, maar je kan ze niet meer aanpassen.<br/> Wil je toch een aanpassing maken, dan moet je eerst een upgrade naar de allerlaatste versie aanvragen.</p>

    <div class="page-list">
      <div *ngFor="let widgetPage of legacyWidgetPages" class="card">
        <div class="card-header">
          <h3 class="float-left" style="margin:0; line-height:38px;">{{ widgetPage.title }}</h3>
          <button class="btn btn-secondary float-left" style="margin-left: 20px;">Upgrade aanvragen</button>
        </div>
        <div class="card-block">
          <h4>{{ "TITLE_WIDGET_PAGE_LIST_LEGACY_VERSION" | translate }}</h4>
          <p><code>{{ getWidgetPageUrl(widgetPage, true) }}</code></p>
          <app-clipboard-button [content]="getWidgetPageUrl(widgetPage, true)"></app-clipboard-button>

          <h4>{{ "TITLE_WIDGET_PAGE_LIST_NEW_VERSION" | translate }}</h4>
          <p><code>{{ getWidgetPageUrl(widgetPage, true, true) }}</code></p>
          <app-clipboard-button [content]="getWidgetPageUrl(widgetPage, true, true)"></app-clipboard-button>
        </div>
      </div>
    </div>
  </div>
</div>
