<h2>{{ "TITLE_FACETS_EDIT_FORM" | translate }}</h2>
<ngb-tabset>
    <ngb-tab>
        <form [formGroup]="widgetEditForm" novalidate>
            <ng-template ngbTabTitle>{{ "TITLE_EDIT_FORM_PROPERTIES" | translate }}</ng-template>
            <ng-template ngbTabContent>
                <ngb-accordion [closeOthers]="true">
                    <ngb-panel id="general" formGroupName="general">
                        <ng-template ngbPanelTitle>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_PANEL_TITLE_GENERAL" | translate }}</ng-template>
                        <ng-template ngbPanelContent>
                            <fieldset>
                                <legend>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS" | translate }}</legend>
                                <div formGroupName="options">
                                    <div>
                                        <label>
                                            <input type="checkbox" formControlName="what" />
                                            <span>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS_WHAT" | translate }}</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" formControlName="where" />
                                            <span>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS_WHERE" | translate }}</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" formControlName="when" />
                                            <span>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS_WHEN" | translate }}</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" formControlName="uitpas" />
                                            <span>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS_UITPAS" | translate }}</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" formControlName="vlieg" />
                                            <span>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS_VLIEG" | translate }}</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" formControlName="age" />
                                            <span>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS_AGE" | translate }}</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" formControlName="free" />
                                            <span>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS_FREE" | translate }}</span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="extra_filters">
                        <ng-template ngbPanelTitle>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_PANEL_TITLE_EXTRA_FILTERS" | translate }}</ng-template>
                        <ng-template ngbPanelContent>
                            <app-widget-group-filters-edit [groupFilters]="settings.group_filters" [type]="'link'" [hideType]="true" [hidePlaceholder]="true"></app-widget-group-filters-edit>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </ng-template>
        </form>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>JSON</ng-template>
        <ng-template ngbTabContent>
            <p>You can't handle the JSON!<p>
        </ng-template>
    </ngb-tab>
</ngb-tabset>