<div class="selected-element">
    <p>{{ "LABEL_SELECTED_ELEMENT" | translate }}: <br>
        <i class="fa fa-crosshairs"></i>
        <input type="text" [(ngModel)]="widget.name" (ngModelChange)="handleWidgetNameChanged($event)"/>
    </p>
</div>
<ngb-tabset>
    <ngb-tab>
        <form [formGroup]="widgetEditForm" novalidate>
            <ng-template ngbTabTitle>{{ "TITLE_EDIT_FORM_PROPERTIES" | translate }}</ng-template>
            <ng-template ngbTabContent>
                <ngb-accordion [closeOthers]="true" [activeIds]="'general'">
                    <ngb-panel id="general">
                        <ng-template ngbPanelTitle>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_PANEL_TITLE_GENERAL" | translate }}</ng-template>
                        <ng-template ngbPanelContent>
                            <fieldset>
                                <legend>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS" | translate }}</legend>
                                <div formGroupName="filters">
                                    <div>
                                        <label>
                                            <input type="checkbox" formControlName="what" />
                                            <span>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS_WHAT" | translate }}</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" formControlName="where" />
                                            <span>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS_WHERE" | translate }}</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" formControlName="when" />
                                            <span>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS_WHEN" | translate }}</span>
                                        </label>
                                    </div>
                                    <div *ngIf="settings.group_filters">
                                        <app-widget-group-filters-edit [groupFilters]="settings.group_filters" [type]="'link'" [hideType]="true" [hidePlaceholder]="true"></app-widget-group-filters-edit>
                                    </div>
                                </div>
                            </fieldset>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </ng-template>
        </form>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>JSON</ng-template>
        <ng-template ngbTabContent>
            <p>You can't handle the JSON!<p>
        </ng-template>
    </ngb-tab>
</ngb-tabset>