<div class="selected-element ">
    <p>{{ "LABEL_SELECTED_ELEMENT" | translate }}: </p>
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-crosshairs"></i></span>
        <input type="text" class="form-control" [(ngModel)]="widget.name" (ngModelChange)="handleWidgetNameChanged($event)"/>
    </div>
</div>
<ngb-tabset>
    <ngb-tab>
        <form [formGroup]="widgetEditForm" novalidate>
            <ng-template ngbTabTitle>{{ "TITLE_EDIT_FORM_PROPERTIES" | translate }}</ng-template>
            <ng-template ngbTabContent>
                <ngb-accordion [closeOthers]="true" [activeIds]="'general'">
                    <ngb-panel id="general">
                        <ng-template ngbPanelTitle>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_PANEL_TITLE_GENERAL" | translate }}</ng-template>
                        <ng-template ngbPanelContent>
                            <div *ngIf="!searchResultsWidgets.length">
                                <div class="alert alert-danger">
                                    {{ "FACETS_WIDGET_EDIT_FORM_MISSING_SEARCH_RESULTS_WIDGETS_WARNING" | translate }}
                                </div>
                            </div>
                            <div *ngIf="searchResultsWidgets.length" class="form-group">
                                <label>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_SEARCH_RESULTS" | translate }}</label>
                                <select formControlName="search_results" class="form-control">
                                    <option [value]="''">{{ "FACETS_WIDGET_EDIT_FORM_SEARCH_RESULTS_EMPTY_OPTION" | translate }} </option>
                                    <option *ngFor="let searchResult of searchResultsWidgets" [value]="searchResult.id">{{ searchResult.name }}</option>
                                </select>
                                <div *ngIf="!settings.search_results">
                                    <div class="alert alert-warning">
                                        {{ "FACETS_WIDGET_EDIT_FORM_SEARCH_RESULTS_REQUIRED" | translate }}
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <legend>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS" | translate }}</legend>
                                <div formGroupName="filters">
                                    <div>
                                        <label>
                                            <input type="checkbox" formControlName="what" />
                                            <span>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS_WHAT" | translate }}</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" formControlName="where" />
                                            <span>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS_WHERE" | translate }}</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" formControlName="when" />
                                            <span>{{ "LABEL_FACETS_WIDGET_EDIT_FORM_GENERAL_ELEMENTS_WHEN" | translate }}</span>
                                        </label>
                                    </div>
                                    <div *ngIf="settings.group_filters">
                                        <app-widget-group-filters-edit [groupFilters]="settings.group_filters" [type]="'link'" [hideType]="true" [hidePlaceholder]="true" [hideDefaultOption]="true"></app-widget-group-filters-edit>
                                    </div>
                                </div>
                            </fieldset>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </ng-template>
        </form>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>{{ "TITLE_EDIT_FORM_JSON" | translate }}</ng-template>
        <ng-template ngbTabContent>
            <app-json-edit (jsonChanged)="handleJsonChanged()" [widget]="widget"></app-json-edit>
        </ng-template>
    </ngb-tab>
</ngb-tabset>