<nav class="navbar navbar-toggleable  fixed-top main-nav" >
    <div class="container-fluid">
        <div class="col-2">
            <ul class="nav">
                <li class="nav-item">
                    <button *ngIf="backButton" (click)="back()" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i><span class="hidden-lg-down"> {{ backButton.label | translate }} </span></button>
                </li>
                <li><button class="btn btn-default btn-outline-secondary btn-help" (click)="goToZendesk()"><i class="fa fa-question-circle" aria-hidden="true"></i></button></li>
            </ul>
        </div>
        <div class="col-8 col-md-9">
            <div class="nav navbar-nav mx-auto">
                <ng-template appDynamicComponent></ng-template>
            </div>
        </div>
        <div class="col-2 col-md-1">
            <div *ngIf="user" ngbDropdown class="float-right">
                <button class="btn btn-outline-secondary" ngbDropdownToggle><span class="hidden-lg-down"> {{ user.displayName }}</span></button>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                    <button ngbDropdownItem class="dropdown-item" (click)="logout()">{{ "TOPBAR_USER_MENU_BUTTON_LOGOUT" | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</nav>
