<div class="selected-element ">
    <p>{{ "LABEL_SELECTED_ELEMENT" | translate }}: </p>
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-crosshairs"></i></span>
        <input type="text" class="form-control" [(ngModel)]="widget.name" (ngModelChange)="handleWidgetNameChanged($event)"/>
    </div>
</div>
<ngb-tabset>
    <ngb-tab>
        <form [formGroup]="widgetEditForm" novalidate>
            <ng-template ngbTabTitle>{{ "TITLE_EDIT_FORM_PROPERTIES" | translate }}</ng-template>
            <ng-template ngbTabContent>
                <ngb-accordion [closeOthers]="true" [activeIds]="'content'">
                    <ngb-panel id="content" formGroupName="content">
                        <ng-template ngbPanelTitle>{{ "LABEL_HTML_EDIT_FORM_PANEL_TITLE_CONTENT" | translate }}</ng-template>
                        <ng-template ngbPanelContent>
                            <ckeditor formControlName="body" [config]="ckeditorConfig.basic_html"></ckeditor>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </ng-template>
        </form>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>{{ "TITLE_EDIT_FORM_JSON" | translate }}</ng-template>
        <ng-template ngbTabContent>
            <app-json-edit (jsonChanged)="handleJsonChanged()" [widget]="widget"></app-json-edit>
        </ng-template>
    </ngb-tab>
</ngb-tabset>