.modal-fullscreen {
  .modal-dialog {
    max-width:1200px;
  }
}

@media (min-width: 992px) {
  .modal-dialog.modal-lg {
    max-width: 900px;
  }
}

.json-edit {
  width: 100%;
  min-height:320px;
  font-size: 13px;
  resize: none;
}
