.modal-fullscreen {
  .modal-dialog {
    max-width: 100%;
  }
}

.modal-open .modal-fullscreen {
  width: 75%;
  margin: 0 auto;
}


@media (min-width: 992px) {
  .modal-dialog.modal-lg {
    max-width: 900px;
  }
}

.modal-dialog {
  .code-edit {
    width: 100%;
  }
}

