.modal-fullscreen {
  .modal-dialog {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .modal-dialog.modal-lg {
    max-width: 900px;
  }
}

.modal-dialog {
  .code-edit {
    width: 100%;
  }
}

