<h2>Search form edit</h2>
<div class="selected-element">
    <p>Je selecteerde: <br>
        <i class="fa fa-crosshairs"></i>
        <code>#zoekbox-13</code>
    </p>
</div>

<ngb-tabset>
    <ngb-tab>
        <form [formGroup]="widgetEditForm" novalidate>
            <ng-template ngbTabTitle>Eigenschappen</ng-template>
            <ng-template ngbTabContent>
                <ngb-accordion [closeOthers]="true">
                    <ngb-panel id="general">
                        <ng-template ngbPanelTitle>Algemeen</ng-template>
                        <ng-template ngbPanelContent>
                            <fieldset>
                                <legend>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_GENERAL_RESULT_PAGE" | translate }}</legend>
                                <label>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_GENERAL_RESULT_PAGE_URL" | translate }}</label>
                                <input type="text" name="general_result_page_url">
                                <label>
                                    <input type="checkbox" name="general_new_window">
                                    <span>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_GENERAL_NEW_WINDOW" | translate }}</span>
                                </label>
                                <label>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_GENERAL_SEARCH_BUTTON_LABEL" | translate }}</label>
                                <input type="text" name="general_search_button_label">
                            </fieldset>
                            <fieldset>
                                <legend>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_GENERAL_EXTRA_SEARCH_PARAMETERS" | translate }}</legend>
                                <label>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_GENERAL_EXTRA_SEARCH_PARAMETERS_QUERY" | translate }}</label>
                                <input type="text" name="general_extra_search_parameters_query">
                            </fieldset>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="header">
                        <ng-template ngbPanelTitle>Header</ng-template>
                        <ng-template ngbPanelContent>
                            HEADER
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="what">
                        <ng-template ngbPanelTitle>Wat</ng-template>
                        <ng-template ngbPanelContent>
                            <app-widget-group-filters-edit [groupFilters]="settings.fields.what.group_filters"></app-widget-group-filters-edit>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="where">
                        <ng-template ngbPanelTitle>Waar</ng-template>
                        <ng-template ngbPanelContent>
                            WAAR
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="when">
                        <ng-template ngbPanelTitle>Wanneer</ng-template>
                        <ng-template ngbPanelContent>
                            WANNEER
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="language">
                        <ng-template ngbPanelTitle>Taal</ng-template>
                        <ng-template ngbPanelContent>
                            TAAL
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="footer">
                        <ng-template ngbPanelTitle>Footer</ng-template>
                        <ng-template ngbPanelContent>
                            FOOTER
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </ng-template>
        </form>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>JSON</ng-template>
        <ng-template ngbTabContent>
            <p>You can't handle the JSON!<p>
        </ng-template>
    </ngb-tab>
</ngb-tabset>