
<div class="p-4">
<h2>Search form edit</h2>
<div class="selected-element">
    <p>Je selecteerde: <br>
        <i class="fa fa-crosshairs"></i>
        <code>#zoekbox-13</code>
    </p>
</div>
</div>

<h2>{{ "TITLE_SEARCH_FORM_EDIT_FORM" | translate }}</h2>

<ngb-tabset>
    <ngb-tab>
        <form [formGroup]="widgetEditForm" novalidate>
            <ng-template ngbTabTitle>{{ "TITLE_EDIT_FORM_PROPERTIES" | translate }}</ng-template>
            <ng-template ngbTabContent>
                <ngb-accordion [closeOthers]="true">
                    <ngb-panel id="general" formGroupName="general">
                        <ng-template ngbPanelTitle>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_PANEL_TITLE_GENERAL" | translate }}</ng-template>
                        <ng-template ngbPanelContent>
                            <fieldset>
                                <legend>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_GENERAL_RESULT_PAGE" | translate }}</legend>
                                <div class="form-group">
                                    <label>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_GENERAL_RESULT_PAGE_URL" | translate }}</label>
                                    <input type="text" formControlName="destination" class="form-control">
                                </div>
                                <label>
                                    <input type="checkbox" formControlName="new_window">
                                    <span>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_GENERAL_NEW_WINDOW" | translate }}</span>
                                </label>
                                <div class="form-group">
                                    <label>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_GENERAL_SEARCH_BUTTON_LABEL" | translate }}</label>
                                    <input type="text" formControlName="button_label" class="form-control">
                                </div>

                            </fieldset>
                            <fieldset>
                                <legend>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_GENERAL_EXTRA_SEARCH_PARAMETERS" | translate }}</legend>
                                <div class="form-group">
                                    <label>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_GENERAL_EXTRA_SEARCH_PARAMETERS_QUERY" | translate }}</label>
                                    <input type="text" formControlName="search_query" class="form-control">
                                </div>
                            </fieldset>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="header" formGroupName="header">
                        <ng-template ngbPanelTitle>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_PANEL_TITLE_HEADER" | translate }}</ng-template>
                        <ng-template ngbPanelContent>
                            <ckeditor formControlName="body" [config]="ckeditorConfig.basic_html"></ckeditor>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="type" formGroupName="type">
                        <ng-template ngbPanelTitle>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_PANEL_TITLE_TYPE" | translate }}</ng-template>
                        <ng-template ngbPanelContent>
                            <fieldset formGroupName="keyword_search">
                                <legend>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TYPE_KEYWORD_SEARCH" | translate }}</legend>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" formControlName="enabled" class="form-check-input">
                                        <span>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TYPE_KEYWORD_SEARCH_SEARCH_BY_TERM" | translate }}</span>
                                    </label>
                                </div>
                                <div *ngIf="settings.fields.type.keyword_search.enabled">

                                    <div class="form-group">
                                        <label>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TYPE_KEYWORD_SEARCH_LABEL" | translate }}</label>
                                        <input type="text" formControlName="label" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TYPE_KEYWORD_SEARCH_PLACEHOLDER" | translate }}</label>
                                        <input type="text" formControlName="placeholder" class="form-control">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset *ngIf="settings.fields.type.group_filters">
                                <legend>{{ "LABEL_GROUP_FILTERS" | translate }}</legend>
                                <app-widget-group-filters-edit [groupFilters]="settings.fields.type.group_filters"></app-widget-group-filters-edit>
                            </fieldset>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="location" formGroupName="location">
                        <ng-template ngbPanelTitle>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_PANEL_TITLE_PLACE" | translate }}</ng-template>
                        <ng-template ngbPanelContent>
                            <fieldset formGroupName="keyword_search">
                                <legend>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_PLACE_KEYWORD_SEARCH" | translate }}</legend>
                                <label>
                                    <input type="checkbox" formControlName="enabled">
                                    <span>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_PLACE_KEYWORD_SEARCH_SEARCH_BY_TERM" | translate }}</span>
                                </label>

                                <div *ngIf="settings.fields.location.keyword_search.enabled">
                                    <div class="form-group">
                                        <label>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_PLACE_KEYWORD_SEARCH_LABEL" | translate }}</label>
                                        <input type="text" formControlName="label" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_PLACE_KEYWORD_SEARCH_PLACEHOLDER" | translate }}</label>
                                        <input type="text" formControlName="placeholder" class="form-control">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset *ngIf="settings.fields.location.group_filters">
                                <legend>{{ "LABEL_GROUP_FILTERS" | translate }}</legend>
                                <app-widget-group-filters-edit [groupFilters]="settings.fields.location.group_filters"></app-widget-group-filters-edit>
                            </fieldset>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="time" formGroupName="time">
                        <ng-template ngbPanelTitle>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_PANEL_TITLE_TIME" | translate }}</ng-template>
                        <ng-template ngbPanelContent>
                            <fieldset formGroupName="date_search">
                                <legend>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TIME_GENERAL" | translate }}</legend>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" formControlName="enabled" class="form-check-input">
                                        <span>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TIME_GENERAL_SEARCH_BY_DATE" | translate }}</span>
                                    </label>
                                </div>
                                <div *ngIf="settings.fields.time.date_search.enabled">
                                    <div class="form-group">
                                        <label>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TIME_GENERAL_SEARCH_BY_DATE_LABEL" | translate }}</label>
                                        <input type="text" formControlName="label" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TIME_GENERAL_SEARCH_BY_DATE_PLACEHOLDER" | translate }}</label>
                                        <input type="text" formControlName="placeholder" class="form-control">
                                    </div>
                                    <div formGroupName="options">
                                        <label>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TIME_GENERAL_SEARCH_BY_DATE_OPTIONS" | translate }}</label>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" formControlName="today" class="form-check-input"/>
                                                <span>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TIME_GENERAL_SEARCH_BY_DATE_OPTIONS_OPTION_TODAY" | translate }}</span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" formControlName="tomorrow" class="form-check-input"/>
                                                <span>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TIME_GENERAL_SEARCH_BY_DATE_OPTIONS_OPTION_TOMORROW" | translate }}</span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" formControlName="weekend" class="form-check-input"/>
                                                <span>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TIME_GENERAL_SEARCH_BY_DATE_OPTIONS_OPTION_WEEKEND" | translate }}</span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" formControlName="days_7" class="form-check-input"/>
                                                <span>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TIME_GENERAL_SEARCH_BY_DATE_OPTIONS_OPTION_DAYS_7" | translate }}</span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" formControlName="days_14" class="form-check-input"/>
                                                <span>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TIME_GENERAL_SEARCH_BY_DATE_OPTIONS_OPTION_DAYS_14" | translate }}</span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" formControlName="days_30"class="form-check-input" />
                                                <span>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TIME_GENERAL_SEARCH_BY_DATE_OPTIONS_OPTION_DAYS_30" | translate }}</span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" formControlName="custom_date" class="form-check-input"/>
                                                <span>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_TIME_GENERAL_SEARCH_BY_DATE_OPTIONS_OPTION_CUSTOM_DATE" | translate }}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset *ngIf="settings.fields.time.group_filters">
                                <legend>{{ "LABEL_GROUP_FILTERS" | translate }}</legend>
                                <app-widget-group-filters-edit [groupFilters]="settings.fields.time.group_filters"></app-widget-group-filters-edit>
                            </fieldset>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="extra">
                        <ng-template ngbPanelTitle>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_PANEL_TITLE_EXTRA_OPTIONS" | translate }}</ng-template>
                        <ng-template ngbPanelContent>
                            <fieldset *ngIf="settings.fields.extra.group_filters">
                                <legend>{{ "LABEL_GROUP_FILTERS" | translate }}</legend>
                                <app-widget-group-filters-edit [groupFilters]="settings.fields.extra.group_filters"></app-widget-group-filters-edit>
                            </fieldset>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel id="footer" formGroupName="footer">
                        <ng-template ngbPanelTitle>{{ "LABEL_SEARCH_WIDGET_EDIT_FORM_PANEL_TITLE_FOOTER" | translate }}</ng-template>
                        <ng-template ngbPanelContent>
                            <ckeditor formControlName="body" [config]="ckeditorConfig.basic_html"></ckeditor>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </ng-template>
        </form>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>JSON</ng-template>
        <ng-template ngbTabContent>
            <p>You can't handle the JSON!<p>
        </ng-template>
    </ngb-tab>
</ngb-tabset>