<div class="modal-header">
    <h4 class="modal-title">{{ "WIDGET_PAGE_CSS_EDIT_MODAL_TITLE" | translate }}</h4>
    <button type="button" class="close" (click)="activeModal.dismiss('cancel')" [disabled]="isSaving">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <form [formGroup]="cssEditForm" novalidate>
                    <div *ngIf="error" class="alert alert-danger" role="alert">
                        {{ "WIDGET_PAGE_CSS_EDIT_SAVE_FAILED" | translate }}
                    </div>
                    <textarea class="code-edit" formControlName="css" rows="20"></textarea>
                </form>
            </div>
        </div>
        <div *ngIf="!scrapedStyles" class="col-sm-4">
            <h3>{{ "WIDGET_PAGE_CSS_EDIT_STYLE_HELP_TITLE" | translate }}</h3>
            <p>{{ "WIDGET_PAGE_CSS_EDIT_STYLE_HELP_DESCRIPTION" | translate }}</p>
            <p>{{ "WIDGET_PAGE_CSS_EDIT_STYLE_HELP_DESCRIPTION_2" | translate }}</p>
            <form [formGroup]="cssScrapeForm" (submit)="scrapeCss()" novalidate>
                <div class="form-group">
                    <label>{{ "WIDGET_PAGE_CSS_EDIT_STYLE_HELP_URL_LABEL" | translate }}</label>
                    <input type="text" formControlName="url" [placeholder]="'WIDGET_PAGE_CSS_EDIT_STYLE_HELP_URL_PLACEHOLDER' | translate" />
                    <div *ngIf="cssScrapeForm.controls['url'].errors && cssScrapeForm.controls['url'].dirty">
                        <p>{{ "WIDGET_PAGE_CSS_EDIT_STYLE_HELP_URL_ERROR" | translate }}</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-default" [disabled]="cssScrapeForm.invalid">{{ "WIDGET_PAGE_CSS_EDIT_STYLE_HELP_SCRAPE_BUTTON" | translate}}</button>
            </form>
        </div>
        <div *ngIf="scrapedStyles" class="col-sm-4 state-results">
            <h3>{{ "WIDGET_PAGE_CSS_EDIT_STYLE_HELP_TITLE" | translate }}</h3>
            <p>{{ "WIDGET_PAGE_CSS_EDIT_STYLE_FOUND_STYLES_DESCRIPTION" | translate }} www.erfgoedcelbrugge.be (<button class="btn btn-link" (click)="resetScrapedStyles()">{{ "WIDGET_PAGE_CSS_EDIT_STYLE_HELP_CHANGE_URL" | translate }}</button>)</p>
            <section class="styleresults">
                <section>
                    <p><strong>Kleuren</strong></p>
                    <ul>
                        <li *ngFor="let color of scrapedStyles.colors">
                            <span class="colour-bg" [ngStyle]="{'background-color': color}"></span>
                            <span class="colour-text" [ngStyle]="{'color': color}">Aa</span>
                            <span class="colour-code">{{ color }}</span>
                        </li>
                    </ul>
                </section>
                <section>
                    <p><strong>Lettertypes</strong></p>
                    <ul>
                        <li *ngFor="let font of scrapedStyles.fonts">
                            <span>{{ font }}</span>
                        </li>
                    </ul>
                </section>
            </section>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="isSaving"><i *ngIf="isSaving" class="fa fa-spinner" aria-hidden="true"></i> {{ "WIDGET_PAGE_CSS_EDIT_MODAL_BUTTON_SAVE" | translate }}</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')" [disabled]="isSaving">{{ "WIDGET_PAGE_CSS_EDIT_MODAL_BUTTON_CANCEL" | translate }}</button>
</div>