.modal-fullscreen {
  .modal-dialog {
    max-width:1200px;
  }
}

.modal-large {
  .modal-dialog {
    max-width:900px;
  }
}

.code-edit {
  width: 100%;
  min-height:320px;
  font-size: 13px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555555;
  padding: 6px 12px;
}
