<div class="xs">
    <div [dragula]='"widget-container"' style="border: solid 1px red; padding: 5px;" [dragulaModel]='regions.content.widgets'>
        <app-widget-preview [widget]="widget" class="component" [ngClass]="{ 'selected' : widget === selectedWidget }"
                            *ngFor="let widget of regions.content.widgets" (click)="editWidget(widget)">
        </app-widget-preview>
    </div>
    <app-add-widget [region]="regions.content"></app-add-widget>
</div>
<div class="md">
    <div [dragula]='"widget-container"' style="border: solid 1px red; padding: 5px;" [dragulaModel]='regions.sidebar_left.widgets'>
        <app-widget-preview [widget]="widget" class="component" [ngClass]="{ 'selected' : widget === selectedWidget }"
                            *ngFor="let widget of regions.sidebar_left.widgets" (click)="editWidget(widget)">
        </app-widget-preview>
    </div>
    <app-add-widget [region]="regions.sidebar_left"></app-add-widget>
</div>
<div class="xs">
    <div [dragula]='"widget-container"' style="border: solid 1px red; padding: 5px;" [dragulaModel]='regions.sidebar_right.widgets'>
        <app-widget-preview [widget]="widget" class="component" [ngClass]="{ 'selected' : widget === selectedWidget }"
                            *ngFor="let widget of regions.sidebar_right.widgets" (click)="editWidget(widget)">
        </app-widget-preview>
    </div>
    <app-add-widget [region]="regions.sidebar_right"></app-add-widget>
</div>