<div class="row">
    <div class="xs cnw_sideCol cnw_left ">
        <div [dragula]='"widget-container"' class="layout--region" [dragulaModel]='regions.sidebar_left.widgets'>
            <app-widget-preview [widget]="widget" *ngFor="let widget of regions.sidebar_left.widgets"></app-widget-preview>
        </div>
        <app-add-widget [region]="regions.sidebar_left"></app-add-widget>
    </div>
    <div class="md cnw_center ">
        <div [dragula]='"widget-container"' class="layout--region" [dragulaModel]='regions.content.widgets'>
            <app-widget-preview [widget]="widget" *ngFor="let widget of regions.content.widgets"></app-widget-preview>
        </div>
        <app-add-widget [region]="regions.content"></app-add-widget>
    </div>
    <div class="xs cnw_sideCol cnw_right ">
        <div [dragula]='"widget-container"' class="layout--region" [dragulaModel]='regions.sidebar_right.widgets'>
            <app-widget-preview [widget]="widget" *ngFor="let widget of regions.sidebar_right.widgets"></app-widget-preview>
        </div>
        <app-add-widget [region]="regions.sidebar_right"></app-add-widget>
    </div>
</div>