<!-- Publish page confirmation modal !-->
<ng-template>
  <app-publish-page-confirmation-modal></app-publish-page-confirmation-modal>
</ng-template>

<!-- Css edit modal !-->
<ng-template>
  <app-css-edit-modal></app-css-edit-modal>
</ng-template>

<div class="row" *ngIf="widgetPage">
  <div class="col-12 col-sm-5 col-md-5 col-lg-4 page-title-col">
    <div class="page-title-edit" *ngIf="!sidebar">
      <div *ngIf="!editingTitle">
        <span class="page-title"><h4>{{ title }} </h4><a (click)="toggleTitleEditMode()" class="btn btn-pagetitle--edit"> <i class="fa fa-pencil"></i></a></span>
      </div>
      <div *ngIf="editingTitle" class="editable-controls input-group ">

        <input type="text" class="form-control" [(ngModel)]="title">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-success" title="Submit" aria-label="Submit" (click)="saveTitle()">
              <span class="fa fa-check"></span>
            </button>
        </span>
           <span class="input-group-btn">
          <button type="button" class="btn btn-danger" title="Cancel" aria-label="Cancel" (click)="cancelTitleEdit()">
            <span class="fa fa-times"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div>
    <div class="switcher col-4 hidden-lg-down" *ngIf="!sidebar">
      <div class="device-switcher">
        <div class="btn-group">
          <button *ngFor="let viewMode of viewModes" type="button" class="btn btn-default navbar-btn btn--device-switcher" (click)="toggleViewMode($event, viewMode.type)" [ngClass]="{'active': activeViewMode === viewMode.type}">
            <i class="fa fa-{{ viewMode.type }}" aria-hidden="true"></i>
            <span>{{ viewMode.label | translate }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="edit-actions col-2" *ngIf="sidebar">
      <button  class="btn btn-default navbar-btn btn--stop-editing  nav-link" (click)="closeSidebar()" >
        <i [ngClass]="{'fa-floppy-o': !isSavingDraft, 'fa-spinner fa-spin': isSavingDraft}" class="fa" aria-hidden="true"></i>
        {{ "BUTTON_WIDGET_BUILDER_TOOLBAR_STOP_EDITING" | translate }}
      </button>
    </div>
  </div>
  <div class="col-7 col-md-5">
    <div class="page-actions" *ngIf="!sidebar" style="float:right;">
      <button class="btn btn-default btn-secondary" (click)="editCss()"><i class="fa fa-paint-brush" aria-hidden="true"></i><span class="hidden-lg-down"> {{ "TOPBAR_CSS_BUTTON" | translate }}</span></button>
      <button *ngIf="widgetPage.draft" class="btn btn-default btn-secondary" (click)="revertDraft()"><i class="fa fa-undo" aria-hidden="true"></i> <span class="hidden-lg-down">{{ "TOPBAR_REVERT_BUTTON" | translate }}</span></button>
      <button class="btn btn-default btn--publicing" (click)="publishPage()">  <i class="fa" [ngClass]="{'fa-cloud-upload': !publishing, 'fa-spinner fa-spin': publishing}" aria-hidden="true"></i><span class="hidden-lg-down">  {{ "TOPBAR_PUBLISH_BUTTON" | translate }} </span></button>
    </div>
  </div>
</div>