<div class="lg">

    <div [dragula]='"widget-container"' style="border: solid 1px red; padding: 5px;" [dragulaModel]='regions.content.widgets'>

        <div class="component" [ngClass]="{ 'selected' : widget === selectedWidget }"
             *ngFor="let widget of regions.content.widgets" (click)="editWidget(widget)">

            <div class="actions-bar actions-bar--component">
                <ul class="actions-list">
                    <li class="move"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-arrows drag"
                                                                                   aria-hidden="true"></i><span>Verplaatsen</span></a>
                    </li>
                    <li><a href="#" class="btn btn-default btn-sm"><i
                            class="fa fa-trash"></i><span>Verwijderen</span></a></li>
                </ul>
            </div>

            {{ widget | json }}

        </div>

    </div>

    <app-add-widget [region]="regions.content"></app-add-widget>

</div>