<div [formGroup]="option">
    <app-row-edit [rows]="rows" [index]="index" [modalTitle]="'GROUP_FILTER_OPTION_REMOVE_MODAL_TITLE'" [modalMessage]="'GROUP_FILTER_OPTION_REMOVE_MODAL_MESSAGE'" (rowChanged)="handleRowChanged($event)"></app-row-edit>
    <div>
        <label><strong>{{ "LABEL_GROUP_FILTER_OPTION_LABEL" | translate }}</strong> <span>{{ "LABEL_GROUP_FILTER_OPTION_LABEL_INFO" | translate }}</span></label>
        <input type="text" formControlName="label">
    </div>
    <div>
        <label><strong>{{ "LABEL_GROUP_FILTER_OPTION_QUERY" | translate }}</strong> <span>{{ "LABEL_GROUP_FILTER_OPTION_QUERY_INFO" | translate }}</span></label>
        <input type="text" formControlName="query">
    </div>
</div>