<div [formGroup]="groupFilter">
    <div>
        <label><strong>{{ "LABEL_GROUP_FILTER_LABEL" | translate }}</strong></label>
        <input type="text" formControlName="label">
    </div>
    <div>
        <label><strong>{{ "LABEL_GROUP_FILTER_PLACEHOLDER" | translate }}</strong></label>
        <input type="text" formControlName="placeholder">
    </div>
    <div>
        <label><strong>{{ "LABEL_GROUP_FILTER_TYPE" | translate }}</strong></label>
        <label *ngFor="let filterType of filterTypes">
            <input type="radio" [value]="filterType.type" formControlName="type">
            <span>{{ filterType.label | translate }}</span>
        </label>
    </div>
    <div formArrayName="options">
        <div [formGroupName]="x" *ngFor="let option of groupFilter.controls.options.controls; let x=index">
            <app-widget-group-filters-group-option-edit [option]="option"></app-widget-group-filters-group-option-edit>
        </div>
    </div>
    <button class="btn btn-primary btn-sm" type="button" (click)="addOption()" [disabled]="!groupFilter.controls.options.valid">{{ "BUTTON_ADD_GROUP_FILTER_FILTER_OPTION" | translate }}</button>
</div>