<div class="widget-group-filters-edit">
<form [formGroup]="groupFilterForm" novalidate >
    <label>
        <input type="checkbox" formControlName="enabled"> <span>{{ "LABEL_CHECKBOX_EXTRA_GROUP_FILTERS" | translate }}</span>
    </label>
    <fieldset *ngIf="groupFilters.enabled">
        <legend>{{ "LABEL_GROUP_FILTERS_GROUPS" | translate }}</legend>
        <!-- list of groupFilters -->
        <div formArrayName="filters" >
            <div *ngFor="let groupFilter of groupFilterForm.controls.filters.controls; let i=index" >

                <div [formGroupName]="i" class="edit-searchfilters--group">
                    <app-widget-group-filters-group-edit [groupFilter]="groupFilter" [rows]="groupFilterForm.controls.filters.controls" [index]="i"></app-widget-group-filters-group-edit>
                </div>
                </div>
            </div>

        <button class="btn btn-primary btn-sm btn-cnw-filtergroup--add" type="button" (click)="addGroup()" [disabled]="!groupFilterForm.controls.filters.valid">
            <i aria-hidden="true" class="fa fa-plus-square-o fa-1x"></i>
            {{ "BUTTON_ADD_GROUP_FILTER" | translate }}</button>
    </fieldset>
</form>
</div>