
    <div class="selected-element">
        <p>Je selecteerde: <br>
            <i class="fa fa-crosshairs"></i>
            <code>#zoekbox-13</code>
        </p>
    </div>

    <div class="btn-group btn-group-justified">
        <a href="#eigenschappen" data-toggle="tab" class="btn btn-default">Eigenschappen</a>
        <a href="#json" data-toggle="tab" class="btn btn-default">JSON</a>
    </div>

    <hr>

    <div class="tab-content clearfix">

        <div class="tab-pane active" id="eigenschappen">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel" *ngFor='let pane of schema.panes'>
                    <div class="panel-heading" role="tab" id="headingAlgemeen">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAlgemeen" aria-expanded="true" aria-controls="collapseAlgemeen" class="">
                                {{ pane.title }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseAlgemeen" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAlgemeen" aria-expanded="true">
                        <div class="panel-body">
                            <sf-form-element *ngFor='let fieldset of pane.fieldsets' [formProperty]='formProperty.getProperty(fieldset)' >
                            </sf-form-element>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-pane" id="json">
            Inhoud van de json
        </div>
    </div>