<div class="modal-header">
    <h4 class="modal-title">Taal</h4>
    <button type="button" class="close" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

  <p>Taal selectie modal</p>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="publishing"><i *ngIf="publishing" class="fa fa-spinner" aria-hidden="true"></i> {{ "WIDGET_PAGE_CSS_EDIT_MODAL_BUTTON_SAVE" | translate }}</button>
</div>
