<div class="modal-header">
    <h4 class="modal-title">{{ "WIDGET_PAGE_PUBLISHED_MODAL_TITLE" | translate }}</h4>
    <button type="button" class="close" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>{{ "WIDGET_PAGE_PUBLISHED_MODAL_MESSAGE" | translate }}</p>
    <p style="word-break: break-all"><code>{{ embedCode }}</code></p>
    <app-clipboard-button [content]="embedCode"></app-clipboard-button>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('closed')">{{ "WIDGET_PAGE_PUBLISHED_MODAL_CONFIRM" | translate }}</button>
</div>