<div class="container-fluid">
  <h1>{{ "ADD_PAGE_TITLE" | translate }}</h1>
  <p>{{ "ADD_PAGE_INTRO" | translate }}</p>
  <div class="row">
    <div *ngFor="let pageTemplate of pageTemplates" class="col-sm-3">
      <div class="card template">
        <div class="card-block">
          <p><strong>{{ pageTemplate.label }}</strong></p>
          <img src="/assets/page-templates/{{ pageTemplate.id }}.svg" class="img-responsive" style="margin: 0 auto 10px;"/>
          <p>{{ pageTemplate.description }}</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="addPage(pageTemplate.template)">{{ "ADD_PAGE_SELECT_TEMPLATE_BUTTON" | translate }}</button>
          <a class="btn btn-link">{{ "ADD_PAGE_PREVIEW_BUTTON" | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>