/* GENERAL */

.cnw_w {
  color: #555555 !important;
  font-family: 'Open Sans' !important;
}

.widget-loader--block {
  box-shadow: none !important;
}

/* SEARCH-BOX */
.cnw_form_header {
  font-size: 24px !important;
  font-family: 'Open Sans' !important;
}

.cnw_form_header h2 {
  font-size: 24px !important;
  font-family: 'Open Sans' !important;
}

.cnw_form_header img {
  max-width: 40px !important;
  display: inline-block !important;
}

.cnw_search_form {
  background-color: #f3f3f3 !important;
  padding: 10px !important;
  margin: 0px !important;
  border: 0px !important;
  margin-bottom: 10px !important;
}

.cnw_form-control {
  text-align: left !important;
  color: #999999 !important;
  display: block !important;
  width: 100% !important;
  height: 35px !important;
  padding: 6px 12px !important;
  font-size: 15px !important;
  line-height: 1.428571429 !important;
  color: #555555 !important;
  vertical-align: middle !important;
  border-radius: 1px !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  font-size: 15px !important;
}

.cnw_btn-search {
  border-bottom: 1px solid #c0120c !important;
  border-right: 1px solid #c0120c !important;
  color: #fff !important;
  background-color: #f3453f !important;
  display: inline-block !important;
  padding: 6px 12px !important;
  margin-bottom: 0 !important;
  font-size: 15.75px !important;
  font-weight: normal !important;
  line-height: 1.428571429 !important;
  text-align: center !important;
  vertical-align: middle !important;
  cursor: pointer !important;
  border-radius: 1px !important;
  white-space: nowrap !important;
  user-select: none !important;
  min-width: 100px !important;
}

.cnw_btn-search:hover {
  background-color: #c0120c !important;
  cursor: pointer !important;
}

.cnw_form-group {
  font-size: 15.75px !important;
}

.cnw_form-check--label {
  font-size: 15px !important;
  display: block !important;
}

.form-check-label {
  font-size: 14px !important;
}

.cnw_form-check input {
  margin-right: 4px !important;
  width: 13px !important;
  height: 13px !important;
  padding: 0 !important;
  overflow: hidden !important;
  top: -1px !important;
  display: inline !important;
  position: relative !important;
}

.cnw_form-check-input {
  width: 13px !important;
}

/* FACETS */
.div.cnw_facets div.cnw_facets_content {
  margin-left: 10px !important;
}

.cnw_block-title {
  font-family: 'Open Sans' !important;
  font-weight: 600 !important;
  line-height: 1.1 !important;
  letter-spacing: 0.75px !important;
  font-size: 17px !important;
  text-transform: uppercase !important;
  border-bottom: 1px solid #000 !important;
  padding-bottom: 0.9em !important;
  margin-bottom: 1em !important;
}

.cnw_facet-label {
  border-bottom: 1px solid #ddd !important;
  padding: 5px 0 !important;
  font-size: 15px !important;
}

.cnw_facet-label a {
  color: #004f94 !important;
  text-decoration: none !important;
}

.cnw_facet-label a:hover {
  text-decoration: underline !important;
}

.cnw_facet-count {
  font-size: 85% !important;
  color: #999999 !important;
}

.cnw_form-check--label {
  font-size: 15.75px !important;
}

.form-check-label input {
  margin-right: 4px !important;
}

.cnw_facets_toggle {
  font-size: 14px !important;
  color: #004f94 !important;
  text-decoration: none !important;
}

/* SEARCH RESULTS */
.cnw_badge {
  background-color: #f3f3f3 !important;
  border-radius: 1px !important;
  color: #555555 !important;
  font-size: 15px !important;
}

.cnw_badge-default a {
  color: #004f94 !important;
}

.cnw_searchresult__searchwords a {
  color: #004f94 !important;
}

.cnw_searchresult__options {
  margin: 0 !important;
  padding: 5px 15px 2px !important;
  background-color: #f3f3f3 !important;
  border-top: none !important;
}

.cnw_form-check-label {
  font-size: 14px !important;
}

.cnw_form-check-label a {
  text-decoration: none !important;
}

.cnw_searchresult__counter-text {
  font-family: 'Open Sans' !important;
  color: #999999 !important;
  margin-left: 5px !important;
  padding-top: 8px !important;
  padding-bottom: 12px !important;
  border-bottom: 1px solid rgb(238, 238, 238) !important;
  font-size: 15px !important;
}

.cnw_card-title {
  font-weight: 600 !important;
  line-height: 1.1 !important;
  letter-spacing: 0.75px !important;
  font-size: 17px !important;
  margin: 0.5em 0 !important;
}

.cnw_card-title a {
  font-family: 'Open Sans' !important;
  color: #004f94 !important;
  text-decoration: none !important;
}

.cnw_card-title a:hover {
  text-decoration: underline !important;
  cursor: pointer !important;
}

.cnw_row {
  font-size: 15px !important;
}

.cnw_btn__card-readmore {
  display: none !important;
}

.list a {
  color: #004f94 !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.cnw_img_responsive:hover {
  opacity: 0.85 !important;
  cursor: pointer !important;
}

.cnw_searchresult--block {
  margin-top: 21px !important;
  margin-bottom: 21px !important;
  border: 0 !important;
  border-bottom: 1px solid #eeeeee !important;
}

.cnw_page-link {
  border-radius: 0 !important;
  border-color: #222222 !important;
  color: #222222 !important;
  padding: 7px 12px !important;
  background-color: white !important;
  margin-right: 6px !important;
  font-size: 15px !important;
  text-decoration: none !important;
}

.cnw_page-link:hover {
  border-color: #f3453f !important;
  color: #f3453f !important;
}

li.pager-ellipsis.disabled {
  margin-right: 6px !important;
}

li.cnw_page-item.cnw_disabled.active a {
  background-color: #f3453f !important;
  color: white !important;
  border: 1px solid #f3453f !important;
}

/* HTML */
.cnw_html {
  background-color: #f3f3f3 !important;
  padding: 10px !important;
  margin: 0px !important;
  border: 0px !important;
}

.cnw_html p {
  font-size: 15px !important;
}

.cnw_html a {
  text-decoration: underline !important;
  color: #004f94 !important;
}

/* TIPS */

.cnw_card-title {
  color: #004f94 !important;
  text-decoration: none !important;
}

.cnw_card-title:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

/* DETAIL PAGE */

.cnw-fa-facebook {
  color: #3b5998 !important;
}

.cnw-fa-twitter {
  color: #1dcaff !important;
}

.cnw_clearfix a {
  color: #004f94 !important;
}

.cnw_clearfix a {
  text-decoration: none !important;
}

.cnw_clearfix a:hover {
  text-decoration: underline !important;
}

/* FOOTER */
.cnw_searchresult_footer {
  padding: 10px !important;
}

.cnw_searchresult_footer a {
  color: #004f94 !important;
}

.cnw_searchresult_footer p {
  margin: auto !important;
}
